body {background-color:#fcf0f4;}


/* barre en haut prénoms */
.topnav {
  overflow: hidden;
  background-color: #efdeff;}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
Font-family : Georgia, serif;
color: #black; }


/* contenant titre */

.content {
  background-color: #ffdeee;
  padding: 35px;
  height: 225px;
  --mask:
    radial-gradient(51.61px at 50% calc(100% - 72px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(51.61px at 50% calc(100% + 42px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask); } 



/* grand titre communication politique */
svg {
  font-size: 40px;
  font-weight: bold;
  width: auto;
  height: 85px;
  fill: #ff8fc7;}

.svgStroke {
  fill: #fccce4;
  stroke: white;
  stroke-width: 13px;
  stroke-linejoin: round;}



/* vagues */
.wave {
  --size: 50px;
  --m: 0.5;
  --p: calc(var(--m)*var(--size));
  --R: calc(var(--size)*sqrt(var(--m)*var(--m) + 1));

  mask:
    radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #000 99%, #0000 101%)
      calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, #000 101%) 
      50% calc(100% - var(--size)) / calc(4 * var(--size)) 100% repeat-x;
  background: linear-gradient(90deg,red,blue);
  height: 200px;
}






.footer {
  background-color: #fcf0f4;
  padding: 2px;}




p {color:black;}

p.double {
  border-style: double;
  border-color: pink; }

p.round3 {
  border: 2px solid red;
color:#E3A8BC;
  border-radius: 12px;
  padding: 5px;}



/* style paragraphes */
.style1 {color:black;
background-colour:#DFEBE2;
margin: 20px;
padding: 20px;
text-align: justify;
  line-height: 1.5;}


/* style non utilisé finalement */
.style2 {color:#fe2858; text-align: center;

  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white; }



/* style sous titres */
.style3 {color:#ff8fc7 ; text-align: left;margin: 30px;
padding: 5px;
text-align: justify;
  line-height: 1.5;}




/* style des grandes parties */
.style4 {color:#ff8fc7 ; text-align: left; margin: 30px;
padding: 0.5px;   border: 2px solid white;
Background-color:#FFFFFF;
  border-radius: 12px;
  padding: 20px;
text-align: left;}



.style5 {color:#ff8fc7 ; text-align: left; margin: 50px;
padding: 0.5px;}



.style6 {color:#black ; text-align: left; margin: 50px;
padding: 0.5px;   border: 2px solid white;
Background-color:#FFFFFF;
  border-radius: 12px;
  padding: 20px;
text-align: justify;}


/* style protocole observation */
.style7 {color:#black ; 
text-align: justify; 
margin: 30px;
padding: 0.5px;   
border: 2px #efdeff;
Background-color:#efdeff;
Opacity: 0.75;
  border-radius: 50px;
  padding: 26px;
text-align: justify; }



/* images  */

img {
  float: right;
display:flex;
margin: 0 auto;
text-align: center;
Float: center; 
width:30%;
  opacity: 0.75;
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;}

img:hover {
  opacity: 1.0;}



/* liens */

/* lien pas visité rose */
a:link { color: #ff8fc7;}

/* lien visité rose */
a:visited { color: #ff8fc7;}

/* lien passage souris bleu */
a:hover {color: aqua;}

/* lien sélectionné violet */
a:active { color: purple;}











